$dragAreaWidth: 10px;

.resize-overlay {
  width: 100%;
  height: 100vh;
  position: relative;

  .resizer {
    position: fixed;

    &.right {
      top: 0;
      bottom: 0;
      right: 0;
      width: $dragAreaWidth;
      cursor: e-resize;
    }

    &.left {
      top: 0;
      bottom: 0;
      left: 0;
      width: $dragAreaWidth;
      cursor: w-resize;
    }
  }
}
