#toolbar {
  height: $toolbar-height;
  background-color: $purple-dark;
  position: relative;
  padding-right: 120px;
  font-size: 14px;
  font-family: 'open_sansbold', sans-serif;
  font-weight: bold;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
  cursor: move;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      height: $toolbar-height;
      float: left;
      line-height: $toolbar-height;
      padding: 0 10px;
      color: #bbb;

      &.active {
        background-color: lighten($purple-dark, 5%);
        color: white;
      }

      &:hover {
        cursor: pointer;
        color: white;
        background-color: lighten($purple-dark, 5%);
      }

      @include noselect;
    }
  }

  .app-ops {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        height: $toolbar-height;
        float: right;
        line-height: $toolbar-height;
        padding: 0 10px;

        @include noselect;
      }

    }
  }

  @include clearfix;
}

#secondary-toolbar {
  height: $secondary-toolbar-height;
  background-color: lighten($purple-dark, 10%);
  position: relative;
  font-size: 12px;
  font-family: 'open_sansbold', sans-serif;
  font-weight: bold;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      height: $secondary-toolbar-height;
      float: left;
      line-height: $secondary-toolbar-height;
      padding: 0 10px;
      color: #bbb;

      &.active {
        background-color: lighten($purple-dark, 15%);
        color: white;
      }

      &:hover {
        cursor: pointer;
        color: white;
        background-color: lighten($purple-dark, 15%);
      }

      @include noselect;
    }
  }

  @include clearfix;
}
