$purple-light: #1f154a;
$purple-dark: #0e0b22;
$border-blue: #4183ca;
$talent-border: #e9e9e9;

$orangeDark: #d02400;
$greenDark: #006500;
$blueDark: blue;

$toolbar-height: 30px;
$secondary-toolbar-height: 25px;
