@import '~font-awesome/css/font-awesome.css';
@import '~react-select/scss/default';
@import '~bootstrap/dist/css/bootstrap.css';

@import 'variables';
@import 'mixins';
@import 'ow-resize';

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: transparent;
  margin: 0;
  font-family: 'open_sansregular', sans-serif;
  color: white;
  position: relative;

  @include noselect;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#root-inner {
  border: 1px solid lighten($purple-dark, 10%);
  background: linear-gradient(to bottom, $purple-light 0%, $purple-dark 100%);
  padding-top: 80px; // 50+25 + 5
  padding-bottom: 39px; //34px button + 5px padding
  min-height: 312px;
}

.Select-control {
  border-radius: 0;
}

$toolbarHeight: 25px;

.gametimer-toolbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: $toolbarHeight;
  background-color: $purple-dark;

  .close-window {
    position: absolute;
    top: 0;
    right: 0;
    height: $toolbarHeight;
    width: $toolbarHeight;
    line-height: $toolbarHeight;
    text-align: center;
    cursor: pointer;
    z-index: 50;

    &:hover {
      color: gray;
    }
  }

  .map-time {
    position: absolute;
    top: 0;
    left: 5px;
    height: $toolbarHeight;
    line-height: $toolbarHeight;
  }
}

.map-selector {
  position: absolute;
  top: $toolbarHeight;
  left: 0;
  right: 0;
  height: 50px;
  padding: 7px;
  background-color: lighten($purple-dark, 2%);

  p {
    text-align: center;
    font-weight: bold;
    font-family: 'open_sansbold', sans-serif;
    line-height: 36px;
  }
}

.timer {
  text-align: center;
}

.time-handler {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.timer-btn {
  border-radius: 0;

  &:focus,
  &:active {
    outline: none;
  }
}

.objective-timer {
  $thirdUnit: 25px;

  position: relative;
  color: white;
  font-size: 12px;
  text-align: center;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;

  .objective-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $thirdUnit;
    background-color: $purple-dark;
    text-align: center;
    line-height: $thirdUnit;
    z-index: 50;
  }

  .objective-marker {
    min-height: $thirdUnit * 2;
    padding: 3px 10px;
    padding-top: $thirdUnit + 3px;
    padding-left: 40px;
    text-align: center;
    background-color: lighten($purple-light, 10%);
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: lighten($purple-light, 8%);
    }

    .objective-marker-icon {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40px;
      padding-top: $thirdUnit;
      font-size: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .objective-upper-container {
    position: relative;
    background-color: lighten($purple-light, 10%);
    padding: 5px;
    padding-right: 65px;
    min-height: 45px;

    .objective-countdown {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 60px;
      font-size: 16px;
      font-family: 'open_sansregular', sans-serif;
      font-weight: bold;
      background-color: $purple-dark;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .objective-progress {
    height: 15px;
    position: relative;
    background-color: lighten($purple-dark, 13%);

    .objective-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: lighten($purple-dark, 5%);
    }
  }

  &.boss {
    .objective-title {
      background-color: $purple-dark;
    }

    .objective-marker {
      background-color: lighten($purple-light, 10%);
      &:hover {
        background-color: lighten($purple-light, 8%);
      }
    }

    .objective-upper-container {
      background-color: lighten($purple-light, 10%);
      .objective-countdown {
        background-color: $purple-dark;
      }
    }

    .objective-progress {
      background-color: lighten($purple-dark, 13%);
      .objective-progress-bar {
        background-color: lighten($purple-dark, 5%);
      }
    }
  }

  &.map {
    .objective-title {
      background-color: $orangeDark;
    }

    .objective-marker {
      background-color: lighten($orangeDark, 5%);
      &:hover {
        background-color: lighten($orangeDark, 2%);
      }
    }

    .objective-upper-container {
      background-color: lighten($orangeDark, 5%);
      .objective-countdown {
        background-color: $orangeDark;
      }
    }

    .objective-progress {
      background-color: lighten($orangeDark, 20%);
      .objective-progress-bar {
        background-color: lighten($orangeDark, 4%);
      }
    }
  }

  &.bruiser {
    .objective-title {
      background-color: $greenDark;
    }

    .objective-marker {
      background-color: lighten($greenDark, 5%);
      &:hover {
        background-color: lighten($greenDark, 2%);
      }
    }

    .objective-upper-container {
      background-color: lighten($greenDark, 5%);
      .objective-countdown {
        background-color: $greenDark;
      }
    }

    .objective-progress {
      background-color: lighten($greenDark, 20%);
      .objective-progress-bar {
        background-color: lighten($greenDark, 4%);
      }
    }
  }

  &.siege {
    .objective-title {
      background-color: $blueDark;
    }

    .objective-marker {
      background-color: lighten($blueDark, 5%);
      &:hover {
        background-color: lighten($blueDark, 2%);
      }
    }

    .objective-upper-container {
      background-color: lighten($blueDark, 5%);
      .objective-countdown {
        background-color: $blueDark;
      }
    }

    .objective-progress {
      background-color: lighten($blueDark, 20%);
      .objective-progress-bar {
        background-color: lighten($blueDark, 4%);
      }
    }
  }
}
