{
    "presets": [
      "react",
      [
        "env", {
          "targets": {
            "chrome": 55
          },
          "debug": true,
          "useBuiltIns": true,
          "exclude": [
            "es7.string.pad-start",
            "es7.string.pad-end"
          ]
        }
      ]
    ]
}
