{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "spread": true,
      "templateStrings": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true, 
    "node": true
  },
  "globals": {
    "overwolf": true
  },
  "rules": {
    "strict": 2
  }
}